.container {
  padding: 0 15px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 3.65rem;
}
.value {
  font-family: 'SF UI Display', 'Helvetica', 'Myriad Pro', sans-serif;
  font-size: 1em;
  font-weight: 300;
}